#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  margin-bottom: 1em;
}

.row {
  display: flex;
}

.cell {
  --cell-size: 55px;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  background-color: #fff;
  margin: 3px;
  border-radius: 4px;
  color: black;
  transition: 1s ease;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.65em;
  color: black;
  user-select: none;
  text-transform: uppercase;
}

.cell.seen{
  background-color: orange;
  color: white;
}

.cell.match{
  background-color: green;
  color: white;
}

.animate {
  animation: fadeIn 1s ease;
  color: black;
}

@keyframes fadeIn {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.cell.animate:nth-child(1){
  animation-delay: .1s;
  transition-delay: .1s;
}
.cell.animate:nth-child(2){
  animation-delay: .2s;
  transition-delay: .2s;
}
.cell.animate:nth-child(3){
  animation-delay: .3s;
  transition-delay: .3s;
}
.cell.animate:nth-child(4){
  animation-delay: .4s;
  transition-delay: .4s;
}
.cell.animate:nth-child(5){
  animation-delay: .5s;
  transition-delay: .5s;
}

.row {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.key {
  padding: 1em;
  background-color: rgba(255,255,255,0.1);
  border-radius: 4px;
  margin: 0.2em;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
}

.key:hover { background-color: rgba(255,255,255,0.45); }

.match { background-color: green; }

.found{ background-color: rgba(255,255,255,0.25); }

.win-modal, .err-modal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  background-color: #000000;
  border-radius: 4px;
  padding: 3em;
  animation: showWin .2s ease;
  box-shadow: 0px 20px 50px rgba(0,0,0,0.3);
  font-weight: 600;
}

.err-modal{
  padding: .5em 1em;
}

@keyframes showWin {
  from {
    opacity: 0;
    transform: translate(-50%,0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%,-50%) ;
  }
}

.btn {
  padding: 8px 16px;
  background-color: hsl(245, 100%, 61%);
  color: white;
  border-radius: 4px;
}

